.header-bg {
     width: 100%;
     background-image: url("../../../assets/harman_banner.png");
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-color: #222d32;
    background-color: #222d32;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
    background-color: #222d32 !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    background-color: #222d32;
    border-color: #222d32;
}

.navbar-nav > .user-menu  > .dropdown-menu > .user-body a {
    background-color: #222d32 !important;
}

.skin-user-dropdown {
    background-color: #222d32;
    border-color: #222d32
}

.skin-preview-link {
	display: block;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	cursor: pointer;
}

.skin-preview-background {
	width: 90%;
	float: left;
	height: 40px;
	background-color: #FFFFFF;
	display: block;
	padding-left: 5px;
	padding-top: 5px;
}

.skin-preview-panel-gap {
	margin-left: 25px;
}

.skin-preview-panel-header {
	width: 40%;
	float: left;
	height: 7px;
}

.skin-preview-panel-content {
	width: 100%;
	float: left;
	height: 23px;
	background: #F2F2F0;
	margin-top: 7px
}

.skin-preview-menu {
	width: 10%;
	float: left;
	height: 40px;
}

.skin-preview-red-light {
	background: #dd4b39;
}

.skin-preview-yellow {
	background: #f39c12;
}

.skin-preview-blue {
	background: #1a2226;
}
