<div class="wrapper">
	<app-header>{{ 'LOADING' }} header...</app-header>
	<app-menu [links]="menuList">{{ 'LOADING' }} menu...</app-menu>
	<div>
		<!--<router-outlet></router-outlet>-->
	</div>
</div>
